/* Estilos do fundo gradiente */
.gradient-background {
  background: linear-gradient(2deg, #e02d40, #e6be6d, #60a3a2, #180d31, #9b79d1, #7346c1);
  background-size: 360% 360%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Define estilos globais para a página */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* Adicionado para garantir o correto fluxo de coluna em dispositivos móveis */
  align-items: center;
  justify-content: flex-start; /* Alterado para começar do topo em dispositivos móveis */
  background-color: #f4f4f4;
  /* Aplica o gradiente ao fundo da página */
  background: linear-gradient(2deg, #e02d40, #e6be6d, #60a3a2, #180d31, #9b79d1, #7346c1);
  background-size: 360% 360%;
  animation: gradient-animation 18s ease infinite;
}

/* Estiliza o contêiner principal para o formulário */
.container {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  padding: 15px; /* Reduzi a quantidade de preenchimento (padding) */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px; /* Reduzi a margem */
}

/* Estiliza o cabeçalho do formulário */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

/* Estiliza as labels e inputs do formulário */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
select {
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estiliza o botão de cadastro */
button[type="submit"] {
  padding: 10px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

button[type="submit"]:hover {
  background-color: #3f51b5;
}

/* Estiliza a mensagem de resposta */
#responseMessage {
  text-align: center;
  margin-top: 1rem;
}

button[onclick="goBack()"] {
  padding: 4px;
  background-color: white;
  color: #5c6bc0;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 1rem;
}

/* Adiciona regras de estilo para telas menores (por exemplo, dispositivos móveis) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 5px; /* Reduzi ainda mais a margem para telas menores */
  }

  /* Adicione mais regras conforme necessário para ajustar outros elementos */
}
