.gradient-background {
  background: linear-gradient(2deg,#e02d40,#e6be6d,#60a3a2,#180d31,#9b79d1,#7346c1);
  background-size: 360% 360%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}